
<div class="" style=" padding-top:2px;  padding-bottom:28px;" >
  
  <h2>ADIGUN ADEFISOLA's <small>PROFILE INFORMATION</small></h2>
</div>

<div class="panel-group">
    <div class="panel panel-info">
      <div class="panel-heading">Name:</div>
      <div class="panel-body">ADIGUN ADEFISOLA</div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">Email:</div>
      <div class="panel-body">fifirulez@yahoo.com</div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">Username:</div>
      <div class="panel-body">daboss_beatz</div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">Phone No:</div>
        <div class="panel-body">09050690675</div>
      </div>
  
</div>
