
    <div class="wrapper">
      <!-- Sidebar Holder -->
      <nav id="sidebar">
          <div class="sidebar-header">
              <h3>ADMIN</h3>
          </div>
        
          <ul class="list-unstyled components">
              <p>ADIGUN ADEFISOLA</p>
          
              <li class ="">
                <a routerLink="/admin/view-profile">View profile</a>
            </li>
              <li class ="">
                <a routerLink="/admin/update-profile">Update profile</a>
            </li>
              <li class ="">
                  <a routerLink="/admin/manage-users">Manage Users</a>
              </li>
              
          </ul>
        
          <ul class="list-unstyled CTAs">
             
              <li><a href="/home" class="article">Sign Out</a></li>
          </ul>
        </nav>
        <div style="margin-left:40px">
            <!--Dashboard content-->
            <router-outlet></router-outlet>
          </div>
          </div>

    
  